<div>
  <a class="cardContainer">
    <img src="{{game.caminhoImg}}" alt="jogoImg" class="cardImg">
    <div class="precoContainer">
      <div class="precoTitle">
        <h3>Jogue Agora !</h3>
      </div>
      <div class="precoValor">
        <div class="console">
          <span>|</span>
          <p>{{game.tipo}} | {{game.console}}</p>
        </div>
        <div>
          <p>{{game.price}}</p>
        </div>
      </div>
    </div>
    <div class="labelContainer">
      <span class="labelValor">{{game.nome}}</span>
    </div>
  </a>
</div>

